<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>豆瓣帖子</title>
</head>

<style>
    ul.links {
        gap: 10px;
        list-style-type: none;
        padding: 10px;
        margin: 0;
        text-align: left;
        /* 行间距 */
        line-height: 1.5;
    }
</style>

<body>
    <h1>豆瓣小组帖子汇总</h1>
    <ul class="links">
        <li><a href="/homdi">Homdi</a></li>
        <li><a href="/lyd">LYD</a></li>
        <li><a href="/yuzhi_wang">Yuzhi Wang</a></li>
        <li><a href="/wakin">Wakin</a></li>
        <li><a href="/wakin_chau">Wakin Chau</a></li>
    </ul>
</body>
</html>
